.rm-ma {
  margin: 0;
}

.rm-mt {
  margin-top: 0;
}

.rm-ml {
  margin-left: 0;
}

.rm-mb {
  margin-bottom: 0;
}

.rm-mr {
  margin-right: 0;
}

.rm-pa {
  padding: 0;
}

.rm-pt {
  padding-top: 0;
}

.rm-pl {
  padding-left: 0;
}

.rm-pb {
  padding-bottom: 0;
}

.rm-pr {
  padding-right: 0;
}